<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokePedia</title>
    <script src="https://kit.fontawesome.com/c6de816135.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./SCSS/style.css">
</head>
<body>
    <button class="burger-btn">
        <div class="burger-btn__box">
            <div class="burger-btn__bars"></div>
        </div>
    </button>
    <nav class="nav">
        <div class="nav__items">
            <a href="#" class="nav__item">Home</a>
            <a href="#" class="nav__item">Pokedex</a>
            <a href="#" class="nav__item">Pokemon TV</a>
        </div>
    </nav>

    <main>

        <section class="efective-type">
            <div class="container">
                <h2 class="efective_title">Efektywność typów</h2>
                <div class="stats one">
                    <div class="stat-title"><p>Damaged normally by (Dmg x1)</p></div>
                    <div class="element normal">Normalny</div>
                    <div class="element fight">Walczący</div>
                    <div class="element fly">latający</div>
                    <div class="element poison">trucizna</div>
                    <div class="element steel">stalowy</div>
                    <div class="element fire">Ognisty</div>
                    <div class="element water">Wodny</div>
                </div>
                <div class="stats two">
                    <div class="stat-title"><p>Weak to: (Dmg x2)</p></div>
                    <div class="element rock">skalny</div>
                    <div class="element electric">elektryczny</div>
                    <div class="element ice">lodowy</div>
                </div>
                <div class="stats three">
                    <div class="stat-title"><p>Immune to: (Dmg x0)</p></div>
                    <div class="element rock">skalny</div>
                    <div class="element ghost">duch</div>
                </div>
                <div class="stats four">
                    <div class="stat-title"><p>Resistant to: (Dmg 1/2x)</p></div>
                    <div class="element worm">robak</div>
                    <div class="element grass">trawa</div>
                </div>
            </div>
        </section>
      
    </main>

    <script src="JS/main.js"></script>
</body>
</html>