<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokePedia</title>
    <script src="https://kit.fontawesome.com/c6de816135.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/style.css">
</head>

<body>
    <button class="burger-btn">
        <div class="burger-btn__box">
            <div class="burger-btn__bars"></div>
        </div>
    </button>
    <nav class="nav">
        <div class="nav__items">
            <a href="#" class="nav__item">Home</a>
            <a href="#" class="nav__item">Pokedex</a>
            <a href="#" class="nav__item">Pokemon TV</a>
        </div>
    </nav>

    <main class="wrapper">

        <section class="learnset">
            <h2>Learnset</h2>
            <div class="underline"></div>
    
            <table>
                <tr>
                    <th>Level</th>
                    <th>Move</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Pwr</th>
                    <th>Acc.</th>
                    <th>PP</th>
                </tr>
    
                <tr>
                    <td>1</td>
                    <td>Sweet Kiss</td>
                    <td><div class="bgc_type_fairy bgc">Fairy</div></td>
                    <td><div class="bgc_category_status bgc">Status</div></td> 
                    <td>-</td>
                    <td>75%</td>
                    <td>10</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Disarming Voice</td>
                    <td><div class="bgc_type_fairy bgc">Fairy</div></td>
                    <td><div class="bgc_category_special bgc">Special</div></td> 
                    <td>40</td>
                    <td>-%</td>
                    <td>15</td>
                </tr>
    
                <tr>
                    <td>1</td>
                    <td>Disable</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_status bgc">Status</div></td> 
                    <td>-</td>
                    <td>100%</td>
                    <td>20</td>
                </tr>
    
                <tr>
                    <td>1</td>
                    <td>Charm</td>
                    <td><div class="bgc_type_fairy bgc">Fairy</div></td>
                    <td><div class="bgc_category_status bgc">Status</div></td> 
                    <td>-</td>
                    <td>100%</td>
                    <td>20</td>
                </tr>
    
                <tr>
                    <td>1</td>
                    <td>Sing</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_status bgc">Status</div></td> 
                    <td>-</td>
                    <td>55%</td>
                    <td>15</td>
                </tr>
    
                <tr>
                    <td>1</td>
                    <td>Pound</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_physical bgc">Physical</div></td> 
                    <td>40</td>
                    <td>100%</td>
                    <td>35</td>
                </tr>
    
                <tr>
                    <td>1</td>
                    <td>Copycat</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_status bgc">Status</div></td> 
                    <td>-</td>
                    <td>-%</td>
                    <td>20</td>
                </tr>
    
                <tr>
                    <td>1</td>
                    <td>Defense Curl</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_status bgc">Status</div></td> 
                    <td>-</td>
                    <td>-%</td>
                    <td>40</td>
                </tr>
    
                <tr>
                    <td>4</td>
                    <td>Echoed Voice</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_special bgc">Special</div></td> 
                    <td>40</td>
                    <td>100%</td>
                    <td>15</td>
                </tr>
    
                <tr>
                    <td>8</td>
                    <td>Covet</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_physical bgc">Physical</div></td> 
                    <td>60</td>
                    <td>100%</td>
                    <td>25</td>
                </tr>
    
                <tr>
                    <td>12</td>
                    <td>Stockpile</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_status bgc">Status</div></td> 
                    <td>-</td>
                    <td>-%</td>
                    <td>20</td>
                </tr>
    
                <tr>
                    <td>12</td>
                    <td>Spit Up</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_special bgc">Special</div></td> 
                    <td>-</td>
                    <td>100%</td>
                    <td>10</td>
                </tr>
    
                <tr>
                    <td>12</td>
                    <td>Swallow</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_status bgc">Status</div></td> 
                    <td>-</td>
                    <td>-%</td>
                    <td>10</td>
                </tr>
    
                <tr>
                    <td>16</td>
                    <td>Round</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_special bgc">Special</div></td> 
                    <td>60</td>
                    <td>100%</td>
                    <td>15</td>
                </tr>
    
                <tr>
                    <td>20</td>
                    <td>Rest</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_status bgc">Status</div></td> 
                    <td>-</td>
                    <td>-%</td>
                    <td>5</td>
                </tr>
    
                <tr>
                    <td>24</td>
                    <td>Body Slam</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_physical bgc">Physical</div></td> 
                    <td>85</td>
                    <td>100%</td>
                    <td>15</td>
                </tr>
    
                <tr>
                    <td>28</td>
                    <td>Mimic</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_status bgc">Status</div></td> 
                    <td>-</td>
                    <td>-%</td>
                    <td>10</td>
                </tr>
    
                <tr>
                    <td>32</td>
                    <td>Gyro Ball</td>
                    <td><div class="bgc_type_steel bgc">Steel</div></td>
                    <td><div class="bgc_category_physical bgc">Physical</div></td> 
                    <td>-</td>
                    <td>100%</td>
                    <td>5</td>
                </tr>
    
                <tr>
                    <td>36</td>
                    <td>Hyper Voice</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_special bgc">Special</div></td> 
                    <td>90</td>
                    <td>100%</td>
                    <td>10</td>
                </tr>
    
                <tr>
                    <td>44</td>
                    <td>Double-Edge</td>
                    <td><div class="bgc_type_normal bgc">Normal</div></td>
                    <td><div class="bgc_category_physical bgc">Physical</div></td> 
                    <td>120</td>
                    <td>100%</td>
                    <td>15</td>
                </tr>
            </table>
        </section>
   
    </main>

    <script src="JS/main.js"></script>
</body>

</html>