<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokePedia</title>
    <script src="https://kit.fontawesome.com/c6de816135.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./SCSS/style.css">
</head>
<body>

    <button class="burger-btn">
        <div class="burger-btn__box">
            <div class="burger-btn__bars"></div>
        </div>
    </button>

    <nav class="nav">
        <div class="nav__items">
            <a href="#" class="nav__item">Home</a>
            <a href="#" class="nav__item">Pokedex</a>
            <a href="#" class="nav__item">Pokemon TV</a>
        </div>
    </nav>

    <header class="header section">
        <h1 class="header__Title">PokePedia</h1>
        <p class="header__text">Welcome to</p>
        <a href="#about-us" class="header__btn btn-special-animation">Read More!</a>
        <div class="white-block white-block-left"></div>
    </header>
 
    <main class="main">
        <section class="about-us wrapper" id="about-us">
            <h2 class="section-title">About us</h2>
            <div class="underline"></div>
            <p class="about-us-info">Witaj na stronie Pokepedia - Twoim źródle wiedzy o świecie Pokemonów!</p>
            <p class="about-us-info">Jesteśmy społecznością skupioną na dzieleniu się informacjami na temat Pokemonów, ich umiejętności, typów, ewolucji oraz strategii walki. Nasza strona powstała z myślą o wszystkich fanach Pokemonów, którzy chcą zgłębić tajniki gry i poznać wszystkich stworków, które można spotkać na swojej drodze w świecie Pokemon.</p> 
            <p class="about-us-info"> Na naszej stronie znajdziesz szczegółowe opisy każdego pojedynczego Pokemona, wraz z informacjami o jego statystykach, atakach, zdolnościach specjalnych oraz sposobach na zdobycie. Możesz także znaleźć ciekawostki na temat każdego Pokemon, jego pochodzenia, inspiracji i roli w grze. 
            </p>
            <p class="about-us-info"> Nasza społeczność składa się z doświadczonych graczy, którzy chętnie dzielą się swoimi wskazówkami i radami dotyczącymi gry. W naszych artykułach znajdziesz wiele porad, które pomogą Ci w rozwoju Twojego teamu Pokemonów oraz w pokonywaniu silniejszych przeciwników.</p>
            <p class="about-us-info"> Nie ważne czy jesteś początkującym graczem, czy doświadczonym trenerem - Pokepedia jest miejscem dla Ciebie. Przeglądaj naszą stronę, zgłębiaj tajniki gry i dziel się swoimi doświadczeniami z innymi fanami Pokemonów.</p>
            <p class="about-us-info">Dołącz do naszej społeczności już dziś i zostań najlepszym trenerem w świecie Pokemon!
            </section></p>
        <section class="what-are-pokemon wrapper" id="about-us">
            <h2 class="section-title">What are Pokemon ?</h2>
            <div class="underline"></div>
            <p class="about-us-info">Pokemony to fikcyjne stworzenia, które występują w serii gier, filmów i seriali anime o tej samej nazwie. W grach i innych mediach, gracze kontrolują postać trenera Pokemonów, który łapie dzikie Pokemony, trenuje je i walczy z innymi trenerami.</p>
            <p class="about-us-info"> Każdy Pokemon posiada swoje unikalne umiejętności, zdolności i statystyki, co wprowadza elementy strategii i taktyki w grę. W grach Pokemon, celem jest złapanie jak największej ilości Pokemonów i stworzenie mocnego teamu, który będzie w stanie pokonać silniejszych przeciwników. Pokemony są podzielone na różne typy, takie jak ogniste, wodne, trawiaste, elektryczne i wiele innych, co wprowadza dodatkową złożoność w grze.</p> 
            <p class="about-us-info">Każdy typ ma swoje własne mocne i słabe strony, co stanowi o strategii walki. Pokemony także mają zdolność do ewolucji, co oznacza, że mogą zmienić swoją formę i stać się coraz silniejsze. Pokemony stały się bardzo popularne na całym świecie, co przyczyniło się do powstania licznych turniejów i społeczności fanów. Na Pokepedii znajdziesz wiele ciekawych informacji na temat każdego Pokemona, ich umiejętności, statystyk, zdolności i ewolucji, a także wskazówki i rady doświadczonych trenerów.</p>
        </section>
        <section class="play wrapper" id="about-us">
            <h2 class="section-title">Play!</h2>
            <div class="underline"></div>
            <p class="about-us-info">Gra w Pokemonów to niepowtarzalna przygoda, która oferuje nie tylko wiele godzin wspaniałej zabawy, ale również możliwość rozwijania swoich umiejętności i poznania nowych ludzi. Jako trener Pokemonów, będziesz miał możliwość łapania i trenowania różnorodnych stworzeń, aby stworzyć swoją własną drużynę i walczyć z innymi graczami.</p>
            <p class="about-us-info">W grze także ważna jest strategia i taktyka, ponieważ każdy Pokemon ma swoje unikalne zdolności i cechy, co oznacza, że musisz wybierać swoje posunięcia z rozwagą i szlifować swoje umiejętności strategiczne.</p>
            <p class="about-us-info">Jako trener Pokemonów, masz również możliwość spotkania innych trenerów, którzy mają podobne zainteresowania i pasje. Możesz wziąć udział w różnorodnych turniejach i wydarzeniach, aby spotkać się z innymi graczami, podzielić się swoimi doświadczeniami i poznać nowych przyjaciół.</p>
            <p class="about-us-info">       Nie ważne, czy jesteś fanem Pokemonów od dawna, czy dopiero zaczynasz swoją przygodę - ta gra jest dla każdego. To doskonała okazja, aby przeżyć niezapomniane chwile i poznać wspaniały świat, który kryje wiele tajemnic i niespodzianek. Dołącz do naszej społeczności i zacznij swoją przygodę już teraz!</p>
      
        </section>
        <img class="main__bg-icon-one" src="IMG/pokemon/001.png" alt="">
        <img class="main__bg-icon-two" src="img/pokemon/006.png" alt="">
        <img class="main__bg-icon-three" src="img/pokemon/039.png" alt="">
    </main>

    <script src="JS/main.js"></script>
</body>
</html>