.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.normal {
  background-color: #8A8A59;
}

.fire {
  background-color: #F08030;
}

.water {
  background-color: #6890F0;
}

.grass {
  background-color: #78C850;
}

.electric {
  background-color: #F8D030;
}

.fly {
  background-color: #A890F0;
}

.psycho {
  background-color: #F85888;
}

.poison {
  background-color: #A040A0;
}

.ghost {
  background-color: #705898;
}

.fight {
  background-color: #003300;
}

.steel {
  background-color: #B8B8D0;
}

.dirt {
  background-color: #E0C068;
}

.rock {
  background-color: #B8A038;
}

.ice {
  background-color: #98D8D8;
}

.dark {
  background-color: #705848;
}

.bug {
  background-color: #A8B820;
}

.dragon {
  background-color: #7038F8;
}

.fairy {
  background-color: #E898E8;
}

@font-face {
  font-family: Pokemon_solid;
  src: url("../Fonts/Pokemon_Solid.ttf") format("truetype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #242423;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #242423;
  z-index: 100;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #D9D9D9;
  text-decoration: none;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after, .burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background: #D9D9D9;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;
}
.pokemon__box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 25px 0px;
  border-radius: 25px;
  background-color: #373736;
}
.pokemon__image {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 200px;
  height: 200px;
  flex-grow: 0;
}
.pokemon__title {
  color: white;
  text-align: center;
  margin-top: 250px;
  font-size: 26px;
}
.pokemon__skill {
  position: absolute;
  top: 10px;
  left: 15%;
  height: 25px;
  width: 100px;
  text-align: center;
  border-radius: 20px;
}

.second {
  left: 50%;
}

@media (min-width: 992px) {
  .burger-btn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */