<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokePedia</title>
    <script src="https://kit.fontawesome.com/c6de816135.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./SCSS/style.css">
</head>
<body>
    <button class="burger-btn">
        <div class="burger-btn__box">
            <div class="burger-btn__bars"></div>
        </div>
    </button>
    <nav class="nav">
        <div class="nav__items">
            <a href="#" class="nav__item">Home</a>
            <a href="#" class="nav__item">Pokedex</a>
            <a href="#" class="nav__item">Pokemon TV</a>
        </div>
    </nav>

    <main>

        <section class="location">
            
            <div class="location__box">
                <h3 class="location__title">Generation I</h3>
                <div class="location__skill red">Red</div>
                <div class="location__skill blue">blue</div>
                <div class="location__skill japan-blue">blue(japan)</div>
                <div class="location__skill yellow">Yellow</div>
                <div class="location__textarea"></div>
                <div class="location__textarea two"></div>
                <div class="location__textarea three"></div>
            </div>

            <div class="location__box">
                <h3 class="location__title">Generation II</h3>
                <div class="location__skill gold">Gold</div>
                <div class="location__skill silver">Silver</div>
                <div class="location__skill crystal">Crystal</div>
                <div class="location__textarea"></div>
                <div class="location__textarea two"></div>
            </div>  
            
            <div class="location__box">
                <h3 class="location__title">Generation III</h3>
                <div class="location__skill rubin">Rubin</div>
                <div class="location__skill sapphire">Sapphire</div>
                <div class="location__skill emerald">Emerald</div>
                <div class="location__skill fire-red">Fire red</div>
                <div class="location__skill green-leaf">Green leaf</div>
                <div class="location__skill coloseum">Coloseum</div>
                <div class="location__skill XD">XD</div>
                <div class="location__textarea"></div>
                <div class="location__textarea two"></div>
                <div class="location__textarea three"></div>
                <div class="location__textarea four"></div>
                <div class="location__textarea five"></div>
            </div>  
            
            <div class="location__box">
                <h3 class="location__title">Generation IV</h3>
                <div class="location__skill diamond">Diamond</div>
                <div class="location__skill pearl">Pearl</div>
                <div class="location__skill platinum">Platinum</div>
                <div class="location__skill golden-heart">Golden heart</div>
                <div class="location__skill silver-soul">Silver soul</div>
                <div class="location__skill palpark">Palpark</div>
                <div class="location__skill pokewalker">Pokewalker</div>
                <div class="location__textarea"></div>
                <div class="location__textarea two"></div>
                <div class="location__textarea three"></div>
                <div class="location__textarea four"></div>
                <div class="location__textarea five"></div>
            </div>  
            
            <div class="location__box">
                <h3 class="location__title">Generation V</h3>
                <div class="location__skill black">Black</div>
                <div class="location__skill white">White</div>
                <div class="location__skill black-two">Black 2</div>
                <div class="location__skill white-two">White 2</div>
                <div class="location__textarea"></div>
                <div class="location__textarea two"></div>   
            </div>  
            
            <div class="location__box">
                <h3 class="location__title">Generation VI</h3>
                <div class="location__skill X">X</div>
                <div class="location__skill Y">Y</div>
                <div class="location__skill omega-ruby">Omega Ruby</div>
                <div class="location__skill alpha-Sapphire">Alpha Sapphire</div>
                <div class="location__textarea"></div>
                <div class="location__textarea two"></div>
            </div>  
            
            <div class="location__box">
                <h3 class="location__title">Generation VII</h3>
                <div class="location__skill sun">Sun</div>
                <div class="location__skill moon">Moon</div>
                <div class="location__skill ultra-sun">Ultra Sun</div>
                <div class="location__skill ultra-moon">Ultra Moon</div>
                <div class="location__skill letsgo-pikatchu">Lets go pikatchu</div>
                <div class="location__skill letsgo-Eevee">Lets go Eevee</div>
                <div class="location__textarea"></div>
                <div class="location__textarea two"></div>
                <div class="location__textarea three"></div>
            </div>  
            
            <div class="location__box">
                <h3 class="location__title">Generation VIII</h3>
                <div class="location__skill sword">Sword</div>
                <div class="location__skill shield">Shield</div>
                <div class="location__skill expansion-pass">Expansion Pass</div>
                <div class="location__skill brilliant-diamond">Brilliant Diamond</div>
                <div class="location__skill sparkling-pearl">Sparkling Pearl</div>
                <div class="location__skill legends-arceus">Legends: Arceus</div>
                <div class="location__textarea"></div>
                <div class="location__textarea two"></div>
                <div class="location__textarea three"></div>
                <div class="location__textarea four"></div>
            </div>  

            <div class="location__box">
                <h3 class="location__title">Generation IX</h3>
                <div class="location__skill scarlet">Scarlet</div>
                <div class="location__skill violet">Violet</div>
                <div class="location__textarea"></div>


       
        </section>
    

        
    </main>

    <script src="JS/main.js"></script>
</body>
</html>