.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

//-- type skills --//

.normal {
    background-color: #8A8A59;
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #6890F0;
}

.grass {
    background-color: #78C850;
}

.electric {
    background-color: #F8D030;
}

.fly {
    background-color: #A890F0;
}

.psycho {
    background-color: #F85888;
}

.poison {
    background-color: #A040A0;
}

.ghost {
    background-color: #705898;
}

.fight {
    background-color: #003300;
}

.steel {
    background-color: #B8B8D0;
}

.dirt {
    background-color: #E0C068;
}

.rock {
    background-color: #B8A038;
}

.ice {
    background-color: #98D8D8;
}

.dark {
    background-color: #705848;
}

.bug {
    background-color: #A8B820;
}

.dragon {
    background-color: #7038F8;
}

.fairy {
    background-color: #E898E8;
}



//-- Lokations type --//

// .red {
//     background-color: red;
// }

// .blue {
//     background-color: blue;
// }

// .yellow {
//     background-color: #ffd733;
// }

// .gold {
//     background-color: #DAA520;
// }

// .silver {
//     background-color: #C0C0C0;
// }

// .crystal {
//     background-color: #4FD9FF;
// }

// .rubin {
//     background-color: #A00000;
// }

// .sapphire {
//     background-color: #0000A0;
// }

// .emerald {
//     background-color: #00A000;
// }

// .fire-red {
//     background-color: #FF7327;
// }

// .green-leaf {
//     background-color: #00DD00;
// }

// .coloseum {
//     background-color: #ffff;
//     border: 2px solid #b6cae4;
// }

// .XD {
//     background-color: #ffff;
//     border: 2px solid #604E82;
// }

// .diamond {
//     background-color: #AAAAFF;
// }

// .pearl {
//     background-color: #FFAAAA;
// }

// .platinum {
//     background-color: #999999;
// }

// .golden-heart {
//     background-color: #B69E00;
// }

// .silver-soul {
//     background-color: #C0C0E1;
// }

// .palpark {
//     background-color: #A2E0A3;
// }

// .pokewalker {
//     background-color: #FF3333;
// }

// .black {
//     background-color: #444444;
// }

// .white {
//     background-color: #E1E1E1;
// }

// .black-two {
//     background-color: #424B50;
// }

// .white-two {
//     background-color: #E3CED0;
// }

// .X {
//     background-color: #025DA6;
// }

// .Y {
//     background-color: #EA1A3E;
// }

// .Omega-ruby {
//     background-color: #AB2813;
// }

// .alpha-Sapphire {
//     background-color: #26649C;
// }

// .sun {
//     background-color: #F1912B;
// }

// .moon {
//     background-color: #5599CA;
// }

// .ultra-sun {
//     background-color: #E95B2B;
// }

// .ultra-moon {
//     background-color: #226DB5;
// }

// .letsgo-pikatchu {
//     background-color: #F5DA26;
// } 

// .letsgo-Eevee {
//     background-color: #D4924B;
// }

// .sword {
//     background-color: #fff;
//     color: #00A1E9;
//     border: 2px solid #00A1E9;
// }

// .shield {
//     background-color: #fff;
//     color: #BF004F;
//     border: 2px solid #BF004F;
// }

// .expansion-pass {
//     background-color: #AC379E;
// }

// .brilliant-diamond {
//     background-color: #44BAE5;
// }

// .sparkling-pearl {
//     background-color: #DA7D99;
// }

// .legends-arceus {
//     background-color: #ffff;
//     color: #36597B;
//     border: 2px solid #36597B;
// }

// .scarlet {
//     background-color: #F34134;
// }

// .violet {
//     background-color: #8334B7;
// }





