<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokePedia</title>
    <script src="https://kit.fontawesome.com/c6de816135.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./SCSS/style.css">
</head>

<body>
    <button class="burger-btn">
        <div class="burger-btn__box">
            <div class="burger-btn__bars"></div>
        </div>
    </button>
    <nav class="nav">
        <div class="nav__items">
            <a href="#" class="nav__item">Home</a>
            <a href="#" class="nav__item">Pokedex</a>
            <a href="#" class="nav__item">Pokemon TV</a>
        </div>
    </nav>

    <main>

        <section class="pokemon">
            <div class="pokemon__box">
                <h3 class="pokemon__title">Bulbazaur</h3>
                <div class="pokemon__skill grass">Ziemny</div>
                <div class="pokemon__skill second poison">trucizna</div>
                <img class="pokemon__image" src="./IMG/001.png" alt="">
            </div>
            <div class="pokemon__box">
                <h3 class="pokemon__title">Ekans</h3>
                <div class="pokemon__skill poison">trucizna</div>
                <img class="pokemon__image" src="./IMG/0023Ekans.png" alt="">
            </div>  
            
            <div class="pokemon__box">
                <h3 class="pokemon__title">Dugtrio</h3>
                <div class="pokemon__skill dirt">ziemia</div>
                <img class="pokemon__image" src="./IMG/0051Dugtrio.png" alt="">
            </div>  
            
            <div class="pokemon__box">
                <h3 class="pokemon__title">Persian</h3>
                <div class="pokemon__skill normal">Normalny</div>
                <img class="pokemon__image" src="./IMG/0053Persian.png" alt="">
            </div>  
            
            <div class="pokemon__box">
                <h3 class="pokemon__title">Charizard</h3>
                <div class="pokemon__skill fly">latajacy</div>
                <div class="pokemon__skill second fire">ognisty</div>
                <img class="pokemon__image" src="./IMG/006.png" alt="">
            </div>  
            
            <div class="pokemon__box">
                <h3 class="pokemon__title">Jigglypuff</h3>
                <div class="pokemon__skill normal">Normalny</div>
                <div class="pokemon__skill second fairy">Baśniowy</div>
                <img class="pokemon__image" src="./IMG/039.png" alt="">
            </div>  
            
            <div class="pokemon__box">
                <h3 class="pokemon__title">Wartortle</h3>
                <div class="pokemon__skill water">Wodny</div>
                <img class="pokemon__image" src="./IMG/600px-0008Wartortle.png" alt="">
            </div>  
            
            <div class="pokemon__box">
                <h3 class="pokemon__title">Beedrill</h3>
                <div class="pokemon__skill poison">Trucizna</div>
                <div class="pokemon__skill second bug">Robak</div>
                <img class="pokemon__image" src="./IMG/600px-0015Beedrill.png" alt="">
            </div>  

            <div class="pokemon__box">
                <h3 class="pokemon__title">Eevee</h3>
                <div class="pokemon__skill normal">Normalny</div>
                <img class="pokemon__image" src="./IMG/600px-0133Eevee.png" alt="">
            </div>  

            <div class="pokemon__box">
                <h3 class="pokemon__title">Dragonite</h3>
                <div class="pokemon__skill fly">latajacy</div>
                <div class="pokemon__skill second dragon">smok</div>
                <img class="pokemon__image" src="./IMG/600px-0149Dragonite.png" alt="">
            </div>  

            <div class="pokemon__box">
                <h3 class="pokemon__title">Psyduck</h3>
                <div class="pokemon__skill water">Wodny</div>
                <img class="pokemon__image" src="./IMG/900px-0054Psyduck.png" alt="">
            </div>  

            <div class="pokemon__box">
                <h3 class="pokemon__title">Growlithe</h3>
                <div class="pokemon__skill fire">Ognisty</div>
                <img class="pokemon__image" src="./IMG/900px-0058Growlithe.png" alt="">
            </div>  
        </section>
 
    </main>

    <script src="JS/main.js"></script>
</body>

</html>