.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

//-- Elements styling --//
.normal {
	background-color: #8A8A59;
}

.fight {
	background-color: #003300;
}

.fly {
	background-color: #A890F0;
}

.poison {
	background-color: #A040A0;
}

.steel {
	background-color: #B8B8D0;
}

.fire {
	background-color: #F08030;
}

.water {
	background-color: #6890F0;
}

.rock {
	background-color: #B8A038 ;
}

.electric {
	background-color: #F8D030;
}

.ice {
	background-color: #98D8D8;
}

.ghost {
	background-color: #705898;
}

.worm {
	background-color: #A8B820;
}

.grass {
	background-color: #78C850;
}


