<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PokePedia</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
			rel="stylesheet" />
		<script
			src="https://kit.fontawesome.com/91e9888254.js"
			crossorigin="anonymous"></script>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
        <nav>
         
            <div class="nav-mobile">
              
                    <p><a href="#search" class="nav__item">Szukaj</a></p>
                   <p><a href="#home" class="nav__item">Home</a></p>
                   <p><a href="#pokedex" class="nav__item">Pokedex</a></p>
                    <p><a href="#tv" class="nav__item">TV</a></p>
                
            </div>
			<div class="nav-items">
                <p><i class="fa-solid fa-magnifying-glass"></i></p>
				<a href="search" >Szukaj</a>
                <p><i class="fa-solid fa-house"></i></p>
				<a href="home">Home</a>
        <p><i class="fa-solid fa-book-open"></i></p>
				<a href="pokedex">Pokedex</a>
                <p><i class="fa-solid fa-tv"></i></p>
				<a href="tv">TV</a>
                
			</div>
		</nav>
    </body>
</html>
